@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');*{
    margin:0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}
:root{
    --rose: #be3144;
    --blue:#45567d;
    --blue-feta7:#45567d;
}
                /* Navbar */
#navbar{
    position: fixed;
    top:0;
    width: 100%;
    background-color:var(--rose);
    overflow: hidden;
    margin-bottom: 300px;
}
#navbar-container{
padding-left: 1200px;
height: 100%;
}
.navbar-item{
    display: block;
    float: left;
    padding: 20px 16px;
    font-size: 25px;
    height: 100%;

}
.navbar-item>a {
    text-decoration: none;
    color:white;
    font-weight: 900;
}
    .navbar-item:hover{
    background-color: var(--blue);
    cursor: pointer;
}

                /*Welcome*/
#welcome-section{
    padding-top:90px;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height:753px;
    text-align: center;
    font-size: 32px;
}
#welcome-section>h1{
    margin-top: 190px;
    color: whitesmoke;
    font-weight: 800;
    
}
.focus-in-contract{-webkit-animation:focus-in-contract 1.5s cubic-bezier(.25,.46,.45,.94) .3s both;animation:focus-in-contract 1.5s cubic-bezier(.25,.46,.45,.94) .3s both}
@-webkit-keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
#welcome-section>h3{
    color:var(--rose);
    font-weight: 100;
    font-size: 28px;
}
@media only screen and (max-width: 600px){
    #welcome-section>h3{
        color:var(--rose);
        font-weight: 100;
        font-size: 25px;
    }
}
                /*projects*/
#projects-section{
    background-color: var(--blue-feta7);
    height: 600px;
    text-align: center;
}
#projects-section>h2{
    color:whitesmoke;
    font-size: 32px;
    padding:30px 0 ;
    text-decoration: underline;
    text-underline-offset: 15px;

}
#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project{
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);    padding-bottom: 20px;
    margin: 20px 20px;
    border-radius: 2px;
    list-style-type: none;
}
.project-title>a{
    color:whitesmoke;  
    text-decoration: none;  
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
    padding-top: 50px;
}
.project-title{
    padding-top: 10px;
}

img{
    height: 300px;
}
                        /*contact*/
#contact{
    background-color:#303841;
    height: 500px;
    text-align: center;
}
#contact>h1{
    color:whitesmoke;
    padding:150px 0 0 30px;;
    font-size:60px;
    font-weight: 900;
}
#contact>h4{
    color:whitesmoke;
    font-size: 20px;
    font-weight: 200;

}
#profiles{
    display:flex;
    margin: 50px 0 0 150px;
    flex-wrap: wrap;
}
.profile-link{
list-style: none;
font-size: 25px;
margin:0 80px;
}
.profile-link>a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
}
.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.text-focus-in{-webkit-animation:text-focus-in .7s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in .7s cubic-bezier(.55,.085,.68,.53) both}
@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}

/**/
.vibrate-1 {
	-webkit-animation: vibrate-1 0.8s linear infinite both;
	        animation: vibrate-1 0.8s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-3-3 21:24:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  